<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>New message </title>
         <link rel="stylesheet" href="/client.css">
    </head>
    <body>
   <!--  Lorsque l’utilisateur clique sur le menu pour composer un message,
     un formulaire est affiché demandant de saisir du texte.
     Le nom d’utilisateur et le mot de passe sont récupérés depuis le local storage, 
     puis l’ensemble est envoyé à /post.
      Un message est ensuite affiché indiquant si l’action a réussi ou non --> 
    <nav class="navbar">
        <a href="/signin">Sign in</a>
        <a href="/messages">Menu</a>
        <a href="newmessage">New message</a>
        <a href="/logout">Log out</a>
    </nav>
        <form method="POST" action="/newmessage">
            <div>
                <p id="intro">What are you thinking ? Share with us :</p>
            </div>
            <div>
                <textarea id= "message" name="message" rows="4" cols="30" maxlength="400"></textarea>
            </div>
            <div>
                <button>Send</button>
            </div>
        </form>
    </body>
</html>