<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/client.css">
    </head>
    <body>
        <!-- nav créée automatiquement par le client -->
        <form id="loginForm">
            <div>
                <p id ="title">Log in ! </p>
            </div>
            <div>
                <input type="text" id="user" name="user" placeholder="User-name">
            </div>
            <div>
                <input type="password" id="pwd" name="pwd" placeholder="Password">
            </div>
            <div>
                 <button type="submit">Log into account</button>
                 
            </div>
        </form>
    </body> 
</html>