<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>New message </title>
         <link rel="stylesheet" href="/client.css">
    </head>
    <body class="messages-feed">
   <!--  Lorsque l’utilisateur clique sur le menu pour composer un message,
     un formulaire est affiché demandant de saisir du texte.
     Le nom d’utilisateur et le mot de passe sont récupérés depuis le local storage, 
     puis l’ensemble est envoyé à /post.
      Un message est ensuite affiché indiquant si l’action a réussi ou non --> 
    <!-- nav créée automatiquement par le client -->
<!-- -->
    <div id="main-content">
        <div id="quick-post" style="display:none;">
            <form id="quickPost" class="quickPost">
                <textarea id="quick-message" placeholder="What do you want to share?" rows="3" maxlength="400" required></textarea>
                <div class="buttons"><button type="submit">Post</button></div>
            </form>
        </div>
        <div id = "messages-list"></div>
    </div>
    </body>
</html>