<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Private Messages </title>
         <link rel="stylesheet" href="/client.css">
    </head>
    <body>
         <!-- Message privé entre 2 users  -->
          <div>
            Who do you want to send a message to : <input type="text" id="receiver" name="receiver">
          </div>
            <form id="newMsgPriv">
                <div>
                    <textarea id= "message" name="message" rows="4" cols="30" maxlength="4000" placeholder="Here to talk with your friends"></textarea>
                </div>
                <div>
                    <button type="submit">Send</button>
                </div>
            </form>
    </body>
</html>