<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Private Messages </title>
         <link rel="stylesheet" href="/client.css">
    </head>
    <body>
         <!-- Message privé entre 2 users  -->
          <div>
            <input type="text" id="receiver" name="receiver" placeholder="Who do you want to talk to ?">
          </div>
            <form id="newMsgPriv">
                <div>
                    <textarea id= "message" name="message" rows="4" cols="30" maxlength="4000" placeholder="Send here a message to your friend !"></textarea>
                </div>
                <div>
                    <button type="submit">Send</button>
                </div>
            </form>
    </body>
</html>