<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Sign in</title>
        <link rel="stylesheet" href="/client.css">
    </head>
    <body id="content">
        <!-- nav créée automatiquement par le client -->
        <form id="signinForm">
            <div>
                <p id ="title">Sign in ! </p>
            </div>
            <div>
                <input type="text" id= "name" name="name" placeholder="Name">
            </div>
            <div>
                <input type="text" id="user" name="user" placeholder="User-name">
            </div>
            <div>
                <button type="button" id="sugestion"> You are not inspired? Let us help you!
             </button>
            </div>
            <div>
                <p id="sugestionpos" style="color: red;"></p>
            </div>
            <div>
                <input type="password" id="pwd" name="pwd" placeholder="Password">
            </div>
            <div>
                 <button type="submit">Create account</button>
                 
            </div>
        </form>
    </body> 
</html>